<div class="axil-footer-area axil-footer-style-1 footer-variation-2">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="logo">
                        <a class="" asp-controller="Home" asp-action="Index">Blog: Mark Ambro</a>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8">

                    <div class="d-flex justify-content-start mt_sm--15 justify-content-md-end align-items-center flex-wrap">
                        <h5 class="follow-title mb--0 mr--20">Follow Us</h5>
                        <ul class="social-icon color-tertiary md-size justify-content-start">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-left">
                        <ul class="mainmenu justify-content-start">
                            <li>
                                <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Contact">
                                    <span class="hover-flip-item">
                                        <span data-text="Contact Us">Contact Us</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-right text-start text-md-end mt_sm--20">
                        <p class="b3">© 2021 Mark Ambrocio | Theme By: Axilmarket Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<a id="backto-top" class="">
    <i class="fas fa-angle-up fa-2x mt-2"></i>
</a>