<div class="popup-mobilemenu-area">
    <div class="inner">
        <div class="mobile-menu-top">
            <div class="logo">
                <a class="" asp-controller="Home" asp-action="Index">Blog: Mark Ambro</a>
            </div>
            <div class="mobile-close">
                <i class="fas fa-times-circle"></i>
            </div>
        </div>
        <ul class="mainmenu">
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Home</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Categories</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Post Format</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Pages</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/404.html">404 Page</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/contact.html">Contact Us</a></li>
        </ul>

    </div>
</div>
