<div class="popup-mobilemenu-area">
    <div class="inner">
        <div class="mobile-menu-top">
            <div class="logo">
                <a class="" asp-controller="Home" asp-action="Index">Blog: Mark Ambro</a>
            </div>
            <div class="mobile-close">
                <i class="fas fa-times-circle"></i>
            </div>
        </div>
        <ul class="mainmenu">
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Home</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Categories</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Post Format</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/index.html#">Pages</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/404.html">404 Page</a></li>
            <li><a href="https://axilthemes.com/demo/template/blogar/contact.html">Contact Us</a></li>
        </ul>

    </div>
</div>

@*
^^ menu-item-has-children                
<ul class="axil-submenu">
    <li><a href="https://axilthemes.com/demo/template/blogar/index.html">Home Default</a></li>
    <li><a href="https://axilthemes.com/demo/template/blogar/home-creative-blog.html">Home Creative Blog</a></li>
    <li><a href="https://axilthemes.com/demo/template/blogar/home-seo-blog.html">Home Seo Blog</a></li>
    <li><a href="https://axilthemes.com/demo/template/blogar/home-tech-blog.html">Home Tech Blog</a></li>
    <li><a href="https://axilthemes.com/demo/template/blogar/home-lifestyle-blog.html">Home Lifestyle Blog</a></li>
</ul>*@