<header class="header axil-header  header-light header-sticky ">
    <div class="header-wrap">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                <div class="">
                    <a class="" asp-controller="Home" asp-action="Index">Blog: Mark Ambro</a>
                </div>
            </div>

            <div class="col-xl-6 d-none d-xl-block">
                <div class="mainmenu-wrapper">
                    <nav class="mainmenu-nav">

                        <!-- Start Mainmanu Nav -->
                        <ul class="mainmenu">
                            <li><a asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                            @*@if (User.IsInRole("Moderator") || User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Comments" asp-action="Index">User<br />Comments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Comments" asp-action="ModeratedIndex">Moderated<br />Comments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Comments" asp-action="DeletedIndex">Deleted<br />Comments</a>
                                </li>
                            }
                            else {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                                </li>
                            }

                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Blogs" asp-action="Create">Create Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Posts" asp-action="Create">Create Post</a>
                                </li>
                            }*@
                        </ul>

                    </nav>
                </div>
            </div>

            <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                <div class="header-search text-end d-flex align-items-center">
                    <form class="header-search-form d-sm-block d-none" asp-action="SearchIndex" asp-controller="Posts">
                        <div class="axil-search form-group">
                            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                            <input type="text" name="SearchTerm"  class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <div class="mobile-search-wrapper d-sm-none d-block">
                        <button class="search-button-toggle"><i class="fas fa-search"></i></button>
                        <form class="header-search-form" asp-action="SearchIndex" asp-controller="Posts">
                            <div class="axil-search form-group">
                                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                                <input type="text" name="SearchTerm"  class="form-control" placeholder="Search" />
                            </div>
                        </form>
                    </div>
                    
                    <partial name="_LoginPartial" />

                    <!-- Start Hamburger Menu  -->
                    <div class="hamburger-menu d-block d-xl-none">
                        <div class="hamburger-inner">
                            <div class="icon"><i class="fas fa-bars"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
