@{
    ViewData["Title"] = "About Me";
}

<div class="main-wrapper">
    <div class="axil-breadcrumb-area breadcrumb-style-1 bg-color-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <h1 class="page-title">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="axil-post-list-area post-listview-visible-color axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <p>I am a full stack web developer and hobbyist game developer. I am a team oriented web developer leveraging HTML, CSS and JavaScript to build responsive websites and interactive features that drive business growth and improve UX. I am focused on building front ends for businesses of all sizes.
                <br/>
                <br/>
                Bilingual: English and Spanish.
                </p>
            </div>
        </div>
    </div>
</div>
