@{
    ViewData["Title"] = "About Me";
}

<div class="container mx-auto">

    <h1>@ViewData["Title"]</h1>

    <p>I am a full stack web developer and hobbyist game developer. I am a team oriented web developer leveraging HTML, CSS and JavaScript to build responsive websites and interactive features that drive business growth and improve UX. I am focused on building front ends for businesses of all sizes.
    <br/>
    <br/>
    Bilingual: English and Spanish.
    </p>
</div>