@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="main-wrapper">
    <div class="axil-breadcrumb-area breadcrumb-style-1 bg-color-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <h1 class="page-title">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>