@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="main-wrapper">
    <div class="axil-breadcrumb-area breadcrumb-style-1 bg-color-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <h1 class="page-title">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto py-4">
        <h4 class="mb-0">Please check your email to reset your password.</h4>
    </div>
</div>

