@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="main-wrapper">
<div class="axil-breadcrumb-area breadcrumb-style-1 bg-color-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <h1 class="page-title">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto row pyp-4">
        <div class="col-md-4 mx-auto">
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>
                        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </p>
                }
                else
                {
                    <h4>
                            Please check your email to confirm your account.
                    </h4>
                }
            }
        </div>
    </div>
</div>


