@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="main-wrapper">
    <div class="axil-breadcrumb-area breadcrumb-style-1 bg-color-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <h1 class="page-title">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto row py-4">

<h4>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</h4>
    </div>
</div>
