@model AmbroBlogProject.Models.Post

@{
    ViewData["Title"] = Model.Title;
}

<!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.Raw(Model.Content)
        </div>
      </div>
    </div>
  </article>

  @*
      1. display comments related to this post
      2. Display authors image
  *@